// Place all the reusable code variales you need here
@mixin width-mobile {
  width: #{"min(90%, 500px)"};
}
@mixin width-past992 {
  width: 960px;
}
@mixin width-past1441 {
  width: 80%;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
