.album {
  display: flex;
  flex-direction: column;
  width: min(80%, 500px);
  margin-inline: auto;
}
.album--cover {
  margin-top: 25%;
}

/* Album name and artist */
.album--description h2 {
  font-size: 22px;
}
.album--description h3 {
  font-size: 16px;
}
/* the circles containing artist PFP's */
.album--description__div {
  display: none; /* appears in later queries */
  width: 96px;
  height: 96px;
  background-color: white;
  border-radius: 100px;
  text-align: center;
  color: black;
}

@media (min-width: 768px) {
  .album--cover {
    width: 712px;
  }
  /* Album name and artist */
  .album--description h2 {
    font-size: 32px;
  }
  .album--description h3 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .album {
    flex-direction: row;
  }
  .album--description {
    margin-top: 112px;
  }
  .album--cover {
    width: 408px;
  }
}
@media (min-width: 1441px) {
  .album--cover {
    width: 480px;
  }
  /* Album name and artist */
  .album--description h2 {
    font-size: 48px;
  }
  .album--description h3 {
    font-size: 36px;
  }
}
